body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(50deg, #585858, #000000);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
}

.app-header {
  padding: 20px;
  border-radius: 10px;
  transition: background-color 0.3s, transform 0.3s;
}

.app-header:hover {
  background-color: #9c9c9c; /* Cambia el color de fondo al pasar el mouse */
  transform: scale(1.05); /* Efecto de escala para simular rebote */
}